{
  "env": {
    "browser": true,
    "node": true
  },
  "extends": ["plugin:prettier/recommended", "plugin:react/recommended"],
  "parser": "babel-eslint",
  "settings": {
    "react": {
      "version": "detect"
    }
  },
  "rules": {
    "no-undef": "error"
  }
}
