.complex-list-item-background {
  color: white;
  flex: 1;
  height: 100%;
  display: flex;
  flex-flow: column;
  justify-content: center;
}

.complex-list-item-background.red {
  background: #ca1c1c;
}

.complex-list-item-background.green {
  background: #409000;
}

.complex-list-item-background.left {
  align-items: flex-end;
}

.complex-list-item-background .content {
  display: flex;
  flex-flow: column;
  align-items: center;
  font-weight: 300;
  font-size: 14px;
  width: 64px;
  max-width: 64px;
  text-align: center;
  padding: 4px;
}

.complex-list-item-background svg {
  fill: white;
  width: 32px;
  height: 32px;
  margin-top: -4px;
}
