{
  "env": {
    "browser": true,
    "es6": true
  },
  "extends": ["plugin:prettier/recommended", "plugin:react/recommended"],
  "parser": "babel-eslint",
  "plugins": ["react-hooks"],
  "settings": {
    "react": {
      "version": "detect"
    }
  },
  "rules": {
    "no-undef": "error",
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "error",
    "react/jsx-sort-props": [
      "error",
      {
        "callbacksLast": true,
        "shorthandFirst": true
      }
    ]
  }
}
