.complex-swipeable-list__item-content-left {
  background-color: red;
  color: white;
  flex: 1;
  height: 100%;
  display: flex;
  flex-flow: column;
  justify-content: center;
}

.complex-swipeable-list__item-content-right {
  background-color: green;
  color: white;
  flex: 1;
  height: 100%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: flex-end;
}

.complex-swipeable-list__content {
  display: flex;
  flex-flow: column;
  align-items: center;
  font-weight: 300;
  font-size: 14px;
  width: 64px;
  max-width: 64px;
  text-align: center;
  padding: 4px;
  padding-top: 8px;
}

.complex-swipeable-list__icon {
  fill: white;
  width: 32px;
  height: 32px;
  margin-top: -4px;
}
