.swipeableListItem {
  position: relative;
  transition: max-height 0.5s ease;
  max-height: 1000px;
  transform-origin: top;
  overflow: hidden;
  width: 100%;
  z-index: 0;
}

.contentRight {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  display: flex;
  flex-direction: row;
  align-items: center;
  box-sizing: border-box;
  opacity: 0;
}

.contentLeft {
  composes: contentRight;
  justify-content: flex-end;
}

.return {
  transition: opacity 0.5s ease-out;
}

.contentLeftReturn {
  composes: contentLeft return;
}

.contentRightReturn {
  composes: contentRight return;
}

.content {
  width: 100%;
  align-items: center;
  box-sizing: border-box;
  background-color: #fff;
  height: 100%;
  display: flex;
}

.contentReturn {
  composes: content;
  transition: transform 0.5s ease-out;
}
